* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/sunset.jpg");
}

h1,
h2,
p {
  color: white;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  text-align: center;
  margin: 10px 0;
}

li {
  display: flex;
  align-items: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.addTodoContainer button {
  display: block;
  margin: 10px auto;
}

.addTodoContainer input {
  margin-top: 10px;
  padding: 10px 20px;
}

.todoContainer p {
  flex-grow: 1;
}

.todoContainer button {
  margin-left: 10px;
}
